@import "mocha.css";

* {
  font-family: BlexMono Nerd Font;
  font-size: 18px;
  min-height: 32px;
}

window {
  background-color: transparent;
}

tooltip {
  background-color: black;
  border: 1px solid #303030;
}

tooltip label {
  color: @text;
}

#workspaces {
  border-radius: 12px;
  background-color: @base;
  border: 1px solid #404040;
}

#workspaces button {
  color: #666666;
  border-radius: 0.5rem;
  padding: 4px 12px;
  background-color: transparent;
}

#workspaces button.active {
  color: white;
}

#workspaces button:hover {
  color: black;
  background-color: white;
}

#network,
#backlight,
#clock,
#battery,
#custom-wireguard,
#pulseaudio {
  border: 1px solid #404040;
  background-color: @base;
  padding: 4px 16px;
  border-radius: 12px;
  color: @text;
  margin-left: 8px;
}
